/* NAVBAR SEMPRE NO TOPO */
/* AO MENOS UM @MEDIA */
/* USAR CSS FLEXBOX AO MENOS 1X */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');
/* font-family: "Jost", sans-serif; */
/* font-family: "Protest Strike", sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: block;
}

body {
    font-family: "Jost", sans-serif;
}

#header {
    width: 100%;
    background-color: snow;


    position: fixed;
    top: 0;

    display: flex;
    align-items: center;

    padding: 12px 22px;

    border-bottom: 4px solid  #3c97d5;
}

#header-img {
    width: 380px;
}

nav {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 64px;
}

main {
    margin-top: 95px;
    text-align: center;
}

.main-h1 {
    font-size: 42px;
    margin-bottom: 24px;
}

iframe {
    margin-bottom: 40px;
}

.section-h2 {
    margin-bottom: 14px;
}

.features-text {
    font-size: 14px;
    margin: 12px 0;
    text-decoration: underline;
}

.features-ul {
    margin-bottom: 48px;
}

.products-h2 {
    margin-bottom: 24px;
    margin-top: 14px;
}

.products-inside {
    display: flex;
    justify-content: space-evenly;
    max-width: 764px;
    margin: auto;
    margin-bottom: 48px;
}

.product-img {
    width: 200px;
    border-radius: 24px;
}

.value-h3 {
    display: inline;

    margin-right: 0;
    padding-right: 0;
}

.value-h4 {
    display: inline;
    color: green;
    font-size: 12px;

    position: relative;
    left: -5px;
}

.a-value-card {
    display: block;
    margin-top: 8px;
}

.value-button {
    width: 130px;
    height: 41px;

    background-color: green;

    border-radius: 12px;
    border: 0;
}