/* NAVBAR SEMPRE NO TOPO */
/* AO MENOS UM @MEDIA */
/* USAR CSS FLEXBOX AO MENOS 1X */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Protest+Strike&display=swap');
/* font-family: "Jost", sans-serif; */
/* font-family: "Protest Strike", sans-serif; */

@media screen and (max-width:900px) {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: block;
}

body {
    font-family: "Jost", sans-serif;
}

#header {
    width: 100%;
    background-color: snow;


    position: fixed;
    top: 0;

    display: flex;
    align-items: center;

    padding: 12px 22px;

    border-bottom: 4px solid  #ff8c00;
}

#header-img {
    width: 380px;
}

nav {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 64px;
}

@media screen and (max-width:1000px) {
    nav {
        font-size: 14px;
    }

    #header-img {
        width: 350px;
    }
}

@media screen and (max-width:900px) {
    nav {
        font-size: 12px;
    }

    #header-img {
        width: 320px;
    }
}

@media screen and (max-width:800px) {
    nav {
        font-size: 10px;
    }

    #header-img {
        width: 300px;
    }
}

@media screen and (max-width:750px) {
    nav {
        font-size: 0px;
    }

    #header-img {
        width: 300px;
    }
}

@media screen and (max-width:650px) {
    nav {
        font-size: 0px;
    }

    #header-img {
        width: 250px;
    }

    .iframe {
        height: 300px;
        width: 500px;
    }
}

.nav-link:checked {
    text-decoration: none;
}

main {
    margin-top: 95px;
    text-align: center;
    margin-bottom: 95px;
}

.main-h1 {
    font-size: 42px;
    margin-bottom: 24px;
}

iframe {
    margin-bottom: 40px;
    height: 315px;
    width: 620px;
}

.section-h2 {
    margin-bottom: 14px;
}

#section-features {
    margin-top: 28px;
}

.features-ul {
    margin-bottom: 48px;
}

.features-li {
    width: fit-content;
    margin-bottom: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    margin-bottom: 32px;

    gap: 24px
}

.features-div {
    gap: 12px;
}

i {
    font-size: 52px;
    color: orangered;
}

.features-title {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

.features-text {
    max-width: 800px;
    font-size: 18px;
    text-align: left;
    line-height: 18px;
}

.products-inside {
    display: flex;
    justify-content: space-evenly;
    max-width: 764px;
    margin: auto;
    margin-bottom: 48px;
}

.products-h2 {
    margin-bottom: 24px;
    margin-top: 14px;
}


.product-card {
    background-color: rgba(172, 172, 172, 0.479);
    padding-bottom: 4px;
    border-radius: 30px;
    overflow: hidden;
}

.product-img {
    width: 200px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.value-h3 {
    display: inline;

    margin-right: 0;
    padding-right: 0;
}

.value-h4 {
    display: inline;
    color: green;
    font-size: 12px;

    position: relative;
    left: -5px;
}

.a-value-card {
    display: block;
    margin-top: 8px;
}

.value-button {
    width: 140px;
    height: 38px;

    background-color: rgb(1, 185, 1);

    border-radius: 12px;
    border: 0;

    color: white;
}

.value-button:hover {
    background-color: rgb(4, 156, 4);
    border-radius: 14px;
    cursor: pointer;
}

.section-form p {
    margin: 34px auto;
    margin-bottom: 12px;
}

#email {
    width: 310px;
    height: 38px;
    padding: 12px;
    border-radius: 4px;

    border: 1px solid black;
}

input#email:focus {
    border: 1px solid black;
}

#submit {
    width: 100px;
    height: 38px;
    border-radius: 8px;
    background-color: rgb(2, 245, 2);
    border: 0;

    text-align: center;
    justify-content: center;
}

#submit:hover {
    border: 1px solid green;
    background-color: green;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 64px;
    font-size: 14px;
    color: #7c7a79;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 4px solid  orangered;
}
